<footer>
    <div class="footer-content">
        <div class="footer-content-wrap">
            <div class="footer-logo">
                <img src="/logo/1x/bleu-logo.png" alt="" />
            </div>

            <!-- <div class="footer-socials">

                </div> -->
            <div class="footer-links">
                <ul>
                    <li class="footer-links-1child">Links</li>
                    <a href="">
                        <li>Logotype</li>
                    </a>
                    <a href="">
                        <li>Print Support</li>
                    </a>

                    <a href="">
                        <li>Brand Identity</li>
                    </a>
                    <a href="">
                        <li>Drone Videography</li>
                    </a>
                    <a href="">
                        <li>Motion Video</li>
                    </a>
                    <a href="">
                        <li>Web</li>
                    </a>
                </ul>
            </div>

            <div class="footer-contact-info">
                <ul>
                    <li>Contact Us</li>
                    <li>DunfermlineKY12 7JE</li>
                    <li><a href="tel:+447342798540">07342798540</a></li>
                    <li>
                        <a href="mailto:info@kapturedesignstudio.co.uk">info@kapturedesignstudio.co.uk</a>
                    </li>

                    <div class="socials">
                        <a href="">
                            <!-- <li><i class="fa-brands fa-instagram"></i></li> -->
                        </a>
                        <a href="">
                            <!-- <li><i class="fa-brands fa-x-twitter"></i></li> -->
                        </a>
                        <a href="">
                            <!-- <li><i class="fa-brands fa-facebook-f"></i></li> -->
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        Copyright © 2024 – Design by Kapture Design Studio
    </div>
</footer>

<!--end header -->
<!-- <script src="./js/carousel.js"></script> -->
<script type="module" src="/js/index.js"></script>