<%- include ('./partials/nav')%>
    <!-- about -->

    <!--======================= hero =============== -->

    <section class="base-page-hero">
        <div class="base-page-hero-wrap">
            <div class="base-page-wrap-text-container about-wrap-text-container">
                <h1>
                    <div class="breads">
                        <span>
                            <span class="skewOne"><a href="/">home</a> </span>
                            <span class="skewTwo"><a href="/about">about</a></span>
                        </span>
                    </div>
                    We are here to make your project successful
                </h1>
                <p>
                    Our commitment extends beyond the surface – we yearn to uncover the very
                    essence of your brand's mission. Understanding the 'why' behind your
                    business, comprehending its unique trajectory, and actively contributing
                    to its growth are the pillars of our approach.<br />
                    <br />

                    We don't merely want to be a service provider; we aspire to become your
                    strategic partner and technical ally. By aligning our goals with yours,
                    we empower you to concentrate on the heart of your business while we
                    navigate the realm of high-quality design and technological solutions.
                    This collaboration ensures that our software isn't just a solution for
                    today but a visionary asset for the future.<br />
                    <br />

                    Success, for us, is not a destination reached at the project's end;
                    instead, it's a constant companion throughout the entire software
                    development journey. We believe in the power of enduring relationships,
                    both with our clients and the solutions we craft, ensuring that the
                    impact of our work echoes for many years.<br />
                    <br />

                    At Kapture Design Studio, we redefine success as a continuous process,
                    making every step in software development a milestone of achievement.
                </p>
            </div>

            <!-- <div class="base-page-wrap-image-container container-slideshow">
                <div class="base-page-wrap-image-block-1 container-slider">
                    <img src="/imagesReady/about/maquet.jpeg" class="itm-slide-A" alt="" />
                    <img src="/imagesReady/about/maquet.jpeg" class="itm-slide-A" alt="" />
                </div>
            </div> -->
            <!-- first block -->
            <!-- second block-->
            <div class="base-page-wrap-image-container-2 container-slideshow">
                <div class="base-page-wrap-image-block-2 container-slider">
                    <div class="about-hero-img">
                        <img src="/imagesReady/about/maquet.jpeg" class="itm-slide-b" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--======================= end hero =============== -->

    <!--======================= section detail =============== -->

    <!-- <section class="section-2-base">
        <div class="section-2-base-container">
            <div class="section-2-base-wrap">
                <div class="section-2-base-text-container">
                    <h1>
                        title
                    </h1>

                    <p>
                        Our mission
                        We do not want to do only what you ask us to, we want to go further, understanding and getting
                        involved in your development process.

                        We want to know the mission behind your business, understand why it goes to that place, and help
                        you get there.

                        Becoming a partner and technical ally to our clients so we focus on developing high-quality
                        technological solutions, while they can focus on the core of their business. This approach
                        allows us to build software with a future in mind and build relationships with our customers
                        that last for many years.

                        We believe success is not reached at the end of a project, but instead, it is repeated
                        constantly throughout the process of software development.
                    </p>
                </div>

                <div class="section-2-base-image-container">
                    <img src="/imagesReady//astro-cut-out-images-.png" alt="" />
                </div>
            </div>
        </div>
    </section> -->

    <!--=======================  end section detail =============== -->

    <!-- vision  value -->

    <!-- ============== call to action cta ====================-->
    <!-- cta -->
    <div class="cta-contact section-contenainer">
        <div class="cta-contact-content">
            <div class="cta-contact-text">
                <h1>Let talk</h1>
                <p>
                    Ready to embark on a journey of creative collaboration?<br />
                    We're just a message away! .
                </p>
            </div>
            <a href="/contact" class="cta-contact-btn">
                <button>click me</button>
            </a>
        </div>
    </div>
    <!-- ==============  end call to action cta ====================-->

    <%- include ('./partials/footer')%>