<%- include ('./partials/nav')%>
    <!-- about -->

    <!--======================= hero =============== -->

    <section class="  base-page-hero">

        <div class="base-page-hero-wrap">




            <div class="base-page-wrap-text-container">
                <h1>we are not just designers; we're vision capturers. </h1>
                <p>raphics and dynamic motion videos; we capture
                    your unique vision and transform it into a compelling story.</p>
            </div>


            <div class="base-page-wrap-image-container container-slideshow">

                <div class="base-page-wrap-image-block-1 container-slider">
                    <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-A" alt="">
                    <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-A" alt="">
                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide" alt=""> -->

                    <!-- duplicate -->

                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide" alt=""> -->
                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-A" alt=""> -->
                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-A" alt=""> -->



                </div>


            </div>



            <!-- second -->
            <div class="base-page-wrap-image-container-2 container-slideshow">

                <div class="base-page-wrap-image-block-2 container-slider">

                    <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-b" alt="">
                    <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-b" alt="">
                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide" alt=""> -->

                    <!-- duplicate -->

                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide" alt=""> -->
                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-A" alt=""> -->
                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-A" alt=""> -->
                    <!-- <img src="./img/img/AdobeStock_145774524_Preview.jpeg" class="itm-slide-A" alt=""> -->



                </div>


            </div>





        </div>







    </section>
    <!--======================= end hero =============== -->




    <section class="section-2-base">

        <div class="section-2-base-container ">
            <div class="section-2-base-wrap">
                <div class="section-2-base-text-container">
                    <h1>Telling Your Story.</h1>
                    <p>
                        <%= serviceDetails.description%>
                    </p>
                </div>

                <div class="section-2-base-image-container ">
                    <img src="./img/img/AdobeStock_239608659_Preview (2).jpeg" alt="">
                </div>



            </div>
        </div>







    </section>





    <!-- vision  value -->





    <section class=" vision  ">
        <div class="value">





            <!-- vi -->
            <div class="section-service vision-container">
                <div class="service-container section-container">
                    <div class="service-container-content  ">

                        <h2>What we do</h2>
                        <p>Our team of experienced consultants collaborates with you to build a strong 
                            visual identity that truly represents who you are and what you aspire to be.</p>
                    </div>



                    <div class="services-grid-container">

                        <a href="" class="services service-active | grid-template-system ">
                            <div class="service-icon">
                                <img src="/icons/logo-design.png" class="icons"></img>
                            </div>

                            <h2>Branding</h2>
                            <p class="truncate-text">Crafting unique and memorable logos 
                                that embody the brand's identity.</p>
                        </a>




                        <a href="" class="services | grid-items">
                            <div class="service-icon">
                                <img src="/icons/plotter.png" class="icons"></img>
                            </div>

                            <h2>Print consistancy </h2>
                            <p class="truncate-text">Encountering color issues with your print? Fear not. We take the
                                reins, coordinating with
                                top-notch print companies on your behalf. Our team arranges meticulous test samples,
                                ensuring your brand colors shine through effortlessly.</p>
                        </a>






                        <a href="" class="services">
                            <div class="service-icon">
                                <img src="/icons/branding.png" class="icons"></img>
                            </div>

                            <h2>Brand Identity Consulting</h2>
                            <p class="truncate-text">Custom Solutions, Tailoring design strategies to align with the
                                brand's unique identity.
                            </p>
                        </a>


                        <a href="" class="services">
                            <div class="service-icon">
                                <img src="/icons/drone (1).png" class="icons"></img>
                            </div>

                            <h2>Drone Videography</h2>
                            <p class="truncate-text">
                                 Providing a unique perspective with stunning drone footage for brand
                                storytelling </p>
                        </a>


                        <a href="" class="services">
                            <div class="service-icon">
                                <img src="/icons/motion-graphics.png" class="icons"></img>
                            </div>

                            <h2>Motion Video</h2>
                            <p class="truncate-text">Promotional Videos
                                Crafting visually compelling videos to showcase products, services, or brand stories.
                            </p>
                        </a>

                        <a href="" class="services">
                            <div class="service-icon">
                                <img src="/icons/data.png" class="icons"></img>
                            </div>

                            <h2>Web</h2>
                            <p class="truncate-text"> Empower yourself with easy content updates at the press of a
                                button, regardless of your
                                technical proficiency. </p>
                        </a>



                    </div>







                </div>
            </div>

        </div>
    </section>

    <!-- cta -->
    <div class="cta-contact section-contenainer">
        <div class="cta-contact-content">
            <div class="cta-contact-text">
                <h1>Let talk</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>
            <div class="cta-contact-btn">
                <button>click me</button>
            </div>
        </div>
    </div>


    <%- include ('./partials/footer')%>